
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>translate</title>
  <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keywords" content="fly,layui,前端社区">
  <meta name="description" content="Fly社区是模块化前端UI框架Layui的官网社区，致力于为web开发提供强劲动力">
  <!-- <link rel="stylesheet" href="/static/plug/fly/layui/css/layui.css">
<link rel="stylesheet" href="/static/plug/fly/css/global.css">
<link rel="icon" href="/static/plug/fly/images/logo-1.png" type="image/x-icon"/> -->
  <!-- {{template "link.html" .}} -->
</head>
<body>
    <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
        <div class="layui-tab-item layui-show">
          <div class="layui-form layui-form-pane">
            <form class="layui-form" action="/", method="POST" id="trans" onsubmit="return false">
                <div class="layui-form-item layui-form-text">
                  <div align="left" class="layui-input-block" >
                    <textarea placeholder="请输入内容" class="layui-textarea" name="ctx"></textarea>
                  </div>
                </div>
                <div align="left" class="layui-form-item" >
                  <button class="layui-btn" lay-submit="" onclick="trans()" >提交</button>
                </div>
              </form>
          </div>
        </div>
      </div>
   

<div>
  <fieldset class="layui-elem-field">
      <legend>结果</legend>
    <div class="layui-field-box" id="result">
    </div>
  </fieldset>
</div>

<!-- <script src="/static/plug/fly/layui/layui.js"></script> -->
<script>
function trans(){
    $.ajax({
        type:  'post',
        dataType: 'json',
        data: $('#trans').serialize(),
        url: '/',
        success: function(res){
          console.log(res)
          if(res.status === 0) {
            if (res.msg !== ""){
              window.location.href = res.msg
            }else{
                insert(res.data)
            }
          } else {
              alert(res.msg)
          }
        }, error: function(e){
          console.log(e)
          alert('请求异常，请重试啊', {shift: 6});
        }
      });
}

function insert(e){
    $('#result').html(e)
}
</script>

</body>
</html>
